.grid {
    display: flex;
    flex-wrap: wrap;
}

.title h1 {
    font-family: "SuecaSlab", "Georgia", "serif";
    font-size: 1.875rem;
    font-weight: 200;
    line-height: 2.3125rem;
    letter-spacing: -0.4px;
    border-bottom: 3px solid #000000;
    margin-right: 0.5em;
    max-width: 260px;
}